#number {
  height: 40px;
  width: 40px;
  border-radius: 10px;
  border-width: 0;
  color: #287996;
  font-size: 18px;
  font-weight: bold;
  background-color: white;
  box-shadow: 0 0 8px #393939;
}

#number:hover {
  background-color: #EBEBEB;
}

#number:active {
  background-color: #EBEBEB;
  box-shadow: none;
}
