.App {
  text-align: center;
  margin-top: 10%;
}

#buttons {
  display: inline-block;
  width: 80%;
  margin-bottom: 20px;
  margin-top: 20px;
}

#invite {
  height: 40px;
  width: 100%;
  border-radius: 10px;
  border-width: 0;
  color: #287996;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0 0 8px #393939;
  margin: 0 auto;
  background-color: white;
}

#show-votes {
  height: 40px;
  width: 100%;
  border-radius: 10px;
  border-width: 0;
  color: #287996;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0 0 8px #393939;
  margin: 0 auto;
  margin-top: 20px;
  background-color: white;
}

#invite:hover {
  background-color: #EBEBEB;
}

#invite:active {
  box-shadow: none;
  background-color: #EBEBEB;
}

#show-votes:hover {
  background-color: #EBEBEB;
}

#show-votes:active {
  box-shadow: none;
  background-color: #EBEBEB;
}

.fas {
  transform: scale(1.5, 1.5);
}


