.App {
  text-align: center;
  margin-top: 10%;
}

#buttons {
  display: inline-block;
  width: 80%;
  margin-bottom: 20px;
  margin-top: 20px;
}

#invite {
  height: 40px;
  width: 100%;
  border-radius: 10px;
  border-width: 0;
  color: #287996;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0 0 8px #393939;
  margin: 0 auto;
  background-color: white;
}

#show-votes {
  height: 40px;
  width: 100%;
  border-radius: 10px;
  border-width: 0;
  color: #287996;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0 0 8px #393939;
  margin: 0 auto;
  margin-top: 20px;
  background-color: white;
}

#number:hover {
  background-color: #EBEBEB;
}

#invite:hover {
  background-color: #EBEBEB;
}

#invite:active {
  box-shadow: none;
  background-color: #EBEBEB;
}

#show-votes:hover {
  background-color: #EBEBEB;
}

#show-votes:active {
  box-shadow: none;
  background-color: #EBEBEB;
}

.fas {
  transform: scale(1.5, 1.5);
}

#new-room-button {
  margin: 0;
  width: 60px;
  height: 40px;
  border: none;
  background: none;
  color: white;
  border-radius: 10px;
  background: rgba(256, 256, 256, 0.4);
}

#new-room-button:hover {
  background: rgba(256, 256, 256, 0.4);
}

#new-room-button:active {
  background: rgba(256, 256, 256, 0.2);
}

.chooseRoom {
  margin-top: 60px;
}

#chooseRoom {
  text-align: center;
  width: 80%;
  display: grid;
  grid-template-columns: 85% 15%;
  grid-template-rows: 1fr;
  justify-content: center;
  margin: 0 auto;
  margin-top: 50px;
}

@media (max-width: 473px) {
  #new-room-input {
    text-align: center;
  }

  #new-room-button {
    margin-top: 40px;
    justify-self: center;
  }

  #chooseRoom {
    text-align: center;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
  }
}
